.main-container{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    background-color: #FFF;
    padding: 20px;
}

.title-container {
    background-color: #EEEEEE; /* Warna latar belakang abu-abu */
    padding : 15px;
    padding-top: 20px;

}

.table{
    padding: 10px;
    width: auto;
}

.th2 {
    border: 1px solid #dee2e6 !important;
    text-align: center !important
}

.table th {
    white-space: nowrap; /* Jangan lakukan wrap teks */
    overflow: hidden; /* Sembunyikan teks yang melebihi lebar sel */
    text-overflow: ellipsis; /* Tampilkan titik-titik jika teks melebihi lebar sel */
    max-width: 200px; /* Atur lebar maksimum sel */
    padding: 10px; /* Atur padding sesuai kebutuhan */
    vertical-align: middle;
    text-align: center;
}


.table td {
    white-space: nowrap; /* Jangan lakukan wrap teks */
    overflow: hidden; /* Sembunyikan teks yang melebihi lebar sel */
    text-overflow: ellipsis; /* Tampilkan titik-titik jika teks melebihi lebar sel */
    max-width: 200px; /* Atur lebar maksimum sel */
    padding: 10px; /* Atur padding sesuai kebutuhan */
    vertical-align: middle;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px; /* Atur lebar gambar sesuai kebutuhan */
    height: 40px; /* Atur tinggi gambar sesuai kebutuhan */
    margin-right: 10px; /* Atur jarak antara gambar dan teks */
}

.icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
}

.icon-button i{
    display: flex;
    align-items: center;
}

.add-data{
    margin-bottom: 20px;
    padding: 8px;
    background-color: #26A4EA;
    color: #FFF;
    border-radius: 8px;
    border: 0px;
    margin-right: 35px;
}

.add-data2{
    margin-bottom: 20px;
    padding: 8px;
    background-color: #26A4EA;
    color: #FFF;
    border-radius: 8px;
    border: 0px;
    margin-right: 5px;
}

.add-icon{
    vertical-align: middle;
}

.button1{
    margin-bottom: 20px;
}

.button-modal{
    background-color: #FFF;
    color: black;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-radius: 8px;
    margin-right: 5px;
}

.formbold-mb-3 {
    margin-bottom: 15px;
  }

.formbold-form-label {
    color: black;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

.formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    outline: none;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.two-column-container {
  display: flex;
}

.left-column,
.right-column {
  flex: 1;
}

.right-column {
  margin-left: 25px;
}

.right-column input[type="checkbox"] {
    margin-right: 5px; /* Sesuaikan jarak antara checkbox dan teks */
    width: 18px; /* Sesuaikan lebar checkbox */
    height: 18px; /* Sesuaikan tinggi checkbox */
}

.checkbox-mb-1{
    margin-top: 50px;
}

.checkbox-mb-2{
    margin-top: 75px;
}

.checkbox-mb-3{
    margin-top: 75px;
}
  
  
/* Menyamakan tinggi checkbox di setiap baris */
.checkbox-mb-1 input,
.checkbox-mb-2 input,
.checkbox-mb-3 input {
vertical-align: middle;
}

.button-dd{
    background-color: #FFF;
    color: black;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-radius: 8px;
    margin-left: 10px;
}

.form-check-dbr{
    margin-right: 10px;
    margin-top: 8px;
}

.d-flex {
    display: flex;
}

.small-input1 {
    height: 40px; /* Sesuaikan lebar sesuai kebutuhan */
  }

.small-input2 {
height: 35px; /* Sesuaikan lebar sesuai kebutuhan */
}
.d-flex {
    display: flex;
}

.date-input-container {
display: grid;
grid-template-columns: max-content auto;
gap: 10px; /* Sesuaikan dengan jarak antar elemen yang diinginkan */
align-items: center;
margin-bottom: 10px; /* Sesuaikan dengan margin yang diinginkan */
margin-right: 10px;
}


.formbold-form-input {
width: 100%; /* Mengisi lebar container */
padding: 8px; /* Sesuaikan dengan padding yang diinginkan */
box-sizing: border-box; /* Membuat padding dan border tidak menambah lebar elemen */
}

.w-text{
    color: #FFF;
}

.halaman-peta{
    margin: 40px;
    margin-bottom: 70px;

}

.bg-filter-peta{
    background-color: #FFFFFF;
    padding: 20px;
}

.title-peta{
    background-color: #26A4EA;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.filter-peta{
    margin-top: 20px;
    margin-bottom: 75px;
}

#map { height: 575px; }

.table-pengaturan{
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.title-pengaturan{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.separator {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

#barChart {
    max-width: 650px;
    margin: 35px auto;
}

.img-dash{
    width: 340px;
    height: 300px;
}

.dash-container{
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.title-dash{
    margin-top: 40px;
    margin-left: 30px;
}

.dash-table{
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.btn-table-dash{
    background-color: #F6F6F6;
    color: #000;
    border-radius: 10px;
    width: 109px;
    height: 40px;
    padding-left: 25px;
}














