.main-container{
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    background-color: #FFF;
    padding: 20px;
}

.title-container {
    padding : 15px;
    padding-top: 20px;

}

.table{
    padding: 10px;
    width: auto;
}

.th2 {
    border: 1px solid #dee2e6 !important;
    text-align: center !important
}

.table th {
    white-space: nowrap; /* Jangan lakukan wrap teks */
    overflow: hidden; /* Sembunyikan teks yang melebihi lebar sel */
    text-overflow: ellipsis; /* Tampilkan titik-titik jika teks melebihi lebar sel */
    max-width: 200px; /* Atur lebar maksimum sel */
    padding: 10px; /* Atur padding sesuai kebutuhan */
    vertical-align: middle;
    text-align: center;
}


.table td {
    white-space: nowrap; /* Jangan lakukan wrap teks */
    overflow: hidden; /* Sembunyikan teks yang melebihi lebar sel */
    text-overflow: ellipsis; /* Tampilkan titik-titik jika teks melebihi lebar sel */
    max-width: 200px; /* Atur lebar maksimum sel */
    padding: 10px; /* Atur padding sesuai kebutuhan */
    vertical-align: middle;
    text-align: center;
}


.icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
}

.icon-button i{
    display: flex;
    align-items: center;
}

.btn-exp{
    margin-bottom: 10px;
    padding: 8px;
    background-color: #E85AAD;
    color: #FFF;
    border-radius: 8px;
    border: 0px;
    margin-right: 80px;
    margin-top: 40px;
}

.btn-filter{
    margin-bottom: 10px;
    padding: 8px;
    background-color: #26A4EA;
    color: #FFF;
    border-radius: 8px;
    border: 0px;
    margin-right: 20px;
    margin-top: 40px;

}

.add-icon{
    vertical-align: middle;
}

.button1{
    margin-bottom: 20px;
}

.title-peta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 60px;
}

.container-peta{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


#map { 
    border-radius: 10px;
    width: 100%;
    height: 500px; 
}

.table-pengaturan{
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#barChart {
    max-width: 650px;
    margin: 35px auto;
}

.dash-container{
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.title-dash{
    margin-top: 40px;
    margin-left: 30px;
}

.dash-table{
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.btn-table-dash{
    background-color: #F6F6F6;
    color: #000;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    padding-left: 20px;
    background-color: #FFF;
}

.container-card{
    margin: 40px;
}

.card{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.table-grid-3{
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.container-chart{
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 35px;
    border-radius: 20px;
}

.btn-table-grafik{
    background-color: #F6F6F6;
    color: #000;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding-left: 15px;
    background-color: #FFF;
}

.btn-exp-dd{
    margin-bottom: 10px;
    padding: 8px;
    background-color: #E85AAD;
    color: #FFF;
    border-radius: 8px;
    border: 0px;
    margin-right: 10px;
    margin-top: 20px;
}

.btn-filter-dd{
    margin-bottom: 10px;
    padding: 8px;
    background-color: #26A4EA;
    color: #FFF;
    border-radius: 8px;
    border: 0px;
    margin-right: 20px;
    margin-top: 20px;
}

.table-container-dd {
    width: 100%;
    overflow-x: auto;
    background-color: #FFF;
    padding: 10px;
}

.container-dd{
    border-radius: 20px;
    margin: 70px;
}
.formbold-mb-3 {
    margin-bottom: 15px;
    flex: 1; 
    margin-right: 10px; 
    margin-right: 10px; 
}

.formbold-form-label {
    color: black;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

.formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    outline: none;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.btn-card{
background-color: #FF65B0;
color: #FFF;
margin-top: 10px;
}

.btn-card:hover {
background-color: #FF65B0; 
}

.big-text{
    font-size: 55px;
    margin-top: 80px;
}

.home-container {
    width: 60%;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 20px auto; /* Gunakan margin auto untuk menempatkannya di tengah */
    background: linear-gradient(to bottom right, #DCFEF6, #54ADFC);
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.col-home{
    text-align: center; /* Rata tengah secara horizontal */
    display: flex; /* Membuat kontennya menjadi flex container */
    flex-direction: column; /* Mengatur arah kolom agar elemen-elemen di dalamnya menjadi kolom */
    align-items: center; /* Rata tengah secara vertikal */    
}

.count-container {
    display: flex;
    align-items: center;
    }

.icon {
    font-size: 40px;
    color: #2563EB;
}

.dynamic-number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.caption {
    font-size: 16px;
    color: #212121;
    margin-top: 5px;
}

.pink-bg {
    position: relative;
    z-index: 1;
    background-color: #FEDEFF;
    margin-top: -80px; /* Sesuaikan dengan setengah tinggi .pink-bg */
    border-radius: 50px; /* Menerapkan border-radius agar sesuai dengan .home-container */
}

.card-home-container {
    display: flex;
    justify-content: space-around;
}

.card-home {
  width: 250px;
  height: 250px;
  background-color: #FF65B0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;
  }

.card-home:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Gaya untuk logo */
.card-home img {
  object-fit: cover;
  transition: filter 0.3s ease-in-out; /* Tambahkan efek transisi */
}

.card-home:hover img {
  filter: brightness(0.8); 
}

.text-card-home{
color: #ffffff;
margin-top: 10px;
font-size: 20px; 
}

.card-home:hover .text-card-home {
color: #2563EB;
}

.arrow {
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
  bottom: 0;
  right: 0;
  font-size: 25px;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  opacity: 0; /* Menyembunyikan panah secara default */
  background-color: #2563EB;
  border-radius: 30px 0 0 0px; /* Untuk bentuk setengah lingkaran */
}

.card-home:hover .arrow {
  opacity: 1;
}
